.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  margin-bottom: 100px;
}

.dashboard-card-content {
  text-align: center;
}

h1{
  margin-top: 10px;
  margin-left: 15px;
}

